#app {
  margin-top: 60px;
}
li{
	list-style: none;
}
.avatar {
    display: inline-block;
    zoom: 1;
    height: 78px;
    padding: 2px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
	img {
    display: block;
    width: 75px;
    height: 75px;
    border: 0;
    border-radius: 3px;
	}
}
.nickname {
	display: inline-block;	
	padding-left: 30px;
	.login{
		margin-top: 0px !important;
	}
}

.info {
	ul {
		padding-left: 0;
    margin-left: 0;
    li {
    	float: left;
	    text-align: center;
	    padding: 10px;
    }
	}
}

.repo {
	margin: 1px 0;
  padding: 0 6px 10px;
  color: #333;
  background: #F7F7F7;
  border-bottom: 1px solid #E5E6F1;
  .line-desc{
  	margin: 10px 20px 0 0;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #667;
    width: auto;
  }
}
.count {
	display: inline;
	li {
  	float: left;
    text-align: center;
    padding: 10px;
  }
}